@{
    ViewBag.Title = "Café & Bars";
}
@{

    ViewBag.Notice = "Café & Bars";

}
<body class="indexsadrzaj">
    <section class="bg-1 text-center">
        <h1 class="">Café & Bars</h1>
    </section>

    <div class="sadrzaj">
        <hr />
        <p align="left">
            There are approximately 70 Café & Bars in the Gorazde town area. There is a special place in town which is called Café square.
            <br /> You will notice that there are over 20 Café & Bars packed in a very small space. In this section of the website we will place most popular Café & Bars in Gorazde.
            <br />This is subject to change, so please bear with us while we update things over time. Please, take your time to view and to write your review based on your experience during the visit.
        </p>

        <div class="carousel" id="tourpackages-carousel">

            <div class="row">

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="http://az616578.vo.msecnd.net/files/2016/01/03/635873939628620546815575054_hc%20coffee%20shop_1.jpg" alt="">
                        <div class="caption">
                            <h4>Caffe Boomerang</h4>
                            <p>Street: Zaima Imamovića 12</p>
                            <p>Telephone: + 387 220 - 390</p>
                            <p>Work Hours: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="www.google.ba" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="http://sprudge.com/wp-content/uploads/2012/06/6pi4o0k.jpg" alt="">
                        <div class="caption">
                            <h4>Café M</h4>
                            <p>Street:  Zaima Imamovića 12 </p>
                            <p>Telephone: +387 62 155 707</p>
                            <p>Work time: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="#" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="http://thesmartlocal.com/images/easyblog_images/1470/artisan-roast-coffee-place-ttdi-2.jpg" alt="">
                        <div class="caption">
                            <h4>Café Bona Fides</h4>
                            <p>Street: Zaima Imamovica 12 </p>
                            <p>Telephone: +387 38 220 390</p>
                            <p>Work time: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="#" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="http://gscvoice.org/wordpress/wp-content/uploads/2013/02/coffeeshops-2-7-13.jpg" alt="">
                        <div class="caption">
                            <h4>Café Coco</h4>
                            <p>Street: Zaima Imamovica 12 </p>
                            <p>Telephone: +387 38 220 390</p>
                            <p>Work time: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="#" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

            </div><!-- End row -->

        </div><!-- End container -->
        <br />
        <div class="carousel" id="tourpackages-carousel">

            <div class="row">

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="https://cupoftexas.files.wordpress.com/2013/04/img_9547.jpg" alt="">
                        <div class="caption">
                            <h4>Café Picasso</h4>
                            <p>Street: Zaima Imamovica 12 </p>
                            <p>Telephone: +387 38 220 390</p>
                            <p>Work time: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="#" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/39/d5/e5/39d5e550b057bb9d160f3811c6eedac8.jpg" alt="">
                        <div class="caption">
                            <h4>Café Citadino</h4>
                            <p>Street: Zaima Imamovica 12 </p>
                            <p>Telephone: +387 38 220 390</p>
                            <p>Work time: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="#" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="http://untappedcities.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/Nimba-Crown-Heights-Brooklyn-NYC-Coffee-Shop-2.jpg" alt="">
                        <div class="caption">
                            <h4>Café Play Off</h4>
                            <p>Street: Zaima Imamovica 12 </p>
                            <p>Telephone: +387 38 220 390</p>
                            <p>Work time: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="#" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="http://notjustaphoto.me/wp-content/uploads/2013/04/Zanzibar-Coffee-House6.jpg" alt="">
                        <div class="caption">
                            <h4>Café Harmonija</h4>
                            <p>Street: Zaima Imamovica 12 </p>
                            <p>Telephone: +387 38 220 390</p>
                            <p>Work time: 08:00h - 00:00h</p><hr />
                            <p><a href="#" class="btn btn-info btn-xs" role="button">More information</a> <a href="#" class="btn btn-default btn-xs" role="button">Call them</a></p>
                        </div>
                    </div>
                </div>

            </div><!-- End row -->

        </div><!-- End container -->
    </div>


    <!-- Custom style for Cafe.html is placed here -->
    <style>
        .indexsadrzaj {
            background-image: url('../../Content/Walls/weather.png');
        }

        h1 {
            color: white;
        }

        .divider {
            height: 2px;
        }

        section {
            height: 400px;
            padding-top: 80px;
            padding-bottom: 50px;
            overflow: auto;
        }

        .bg-1 {
            background: url(http://www.theguideistanbul.com/sites/default/files/milkbar-3.jpg) no-repeat top center fixed; /*no-repeat center center fixed;*/
            color: #fff;
            border: 2px black solid;
            background-size: contain;
            /*top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/
        }


        h1 {
            text-align: center;
            padding-top: 50px;
        }
    </style>

</body>
