@{
    ViewBag.Title = "Camping";

}
@{
    ViewBag.Notice = "Translation Notice";
}
<body class="aboutsadrzaj">
    <section class="bg-1 text-center">
        <h1 class="">CAMPING</h1>
    </section>

    <div class="sadrzaj">
        <h3>@ViewBag.Notice</h3>
        <hr />
        <p align="justify">For now, this text area is in Bosnian. At the moment we are doing collecting and translating work. Please, be patient, and keep looking for the changes on the website.</p>
    </div>
</body>
<style>
    .indexsadrzaj {
        background-image: url('../../Content/Walls/weather.png');
    }

    h1 {
        color: white;
    }

    .divider {
        height: 2px;
    }

    section {
        height: 400px;
        padding-top: 80px;
        padding-bottom: 50px;
        overflow: auto;
    }

    .bg-1 {
        background: url(http://cdn.wallpapersafari.com/54/57/lq2tJE.jpg) no-repeat top center fixed; /*no-repeat center center fixed;*/
        color: #fff;
        background-size: 1140px;
        /*top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/
    }


    h1 {
        text-align: center;
        padding-top: 50px;
    }
</style>