@{
    ViewBag.Title = "Adventures";
}
@{

    ViewBag.Notice = "Translation notice";
}


<body class="indexsadrzaj">

    <section class="bg-1 text-center">
        <h1 class="">Adventures</h1>
    </section>

    <div class="sadrzaj">
        <h3>@ViewBag.Notice</h3>
        <hr />
        <p align="justify">For now, this text area is in Bosnian. At the moment we are doing collecting and translating work. Please, be patient, and keep looking for the changes on the website.</p>
    </div>
    <style>
         .indexsadrzaj {
             background-image: url('../../Content/Walls/weather.png');
         }
         h1 {
             color: white;
         }
         .divider {
             height: 2px;
         }
         section {
             height: 400px;
             padding-top: 80px;
             padding-bottom: 50px;
             overflow: auto;
         }
         .bg-1 {
             background: url(https://images.alphacoders.com/191/191013.jpg) no-repeat top center fixed; /*no-repeat center center fixed;*/
             color: #fff;
             border: 2px black solid;
             background-size: 1140px;
         }

         h1 {
             text-align: center;
             padding-top: 50px;
         }
    </style>

</body>
