@{
    ViewBag.Title = "Adventures";
}
@{

    ViewBag.Notice = "Translation notice";
}

<body class="indexsadrzaj">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h2 class="white">Adventures</h2>
                        <h3 class="white">of Gorazde</h3>
                        <!--<h4 class="white">For more infomation, click learn more</h4>-->
                    </hgroup>
                    <!--<form style="display: inline" action="http://drinago.eu-central-1.elasticbeanstalk.com/home/notice" method="get">
                        <button class="btn btn-hero btn-lg" role="button">Learn more</button></form>-->
                </div>
            </div>
        </div>
    </div>

    <style>

 .indexsadrzaj {
    background-image: url('../../Content/Walls/weather.png');
 }
    </style>

</body>
