@{
    ViewBag.Title = "Cycling";
}
@{

    ViewBag.Notice = "Translation notice";
}

<body class="indexsadrzaj">

    <section class="bg-1 text-center">
        <h1 class="">CYCLING</h1>
    </section>

    <!-- Introduction -->

    <div class="section2">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Cross country - Mountain Cycling - Road cycling</h4>
            <hr />
            <p align="center">
                Gorazde is surrounded by big hills which are suitable for amazing trails for mountain biking. We will implement maps with included paths.
                <br />That way you can easily follow the route for endless fun.
                <br />
            </p>
            <hr />
            <h4 align="center">IMPORTANT INFO</h4>
            <hr />
            <center><img class="mine" src="http://www.sodalive.ba/wp-content/uploads/2012/11/mine-BiH.jpg" /></center>
            <hr />
            <b align="justify">
                Beware though, some hills still have mines from the last Balkan war. We do not RECOMMEND you to go alone and on paths that are dangerous.
                You can follow the red signs so you can know that you are safe. Stick to the road, and dont go off the road, no matter how amazing or beautiful it looked.
            </b>
            <hr />

        </div>
    </div>

    <!-- Style -->

    <style>
         .indexsadrzaj {
             background-image: url('../../Content/Walls/weather.png');
         }

         .section1,
         .section2,
         .section3,
         .section4,
         .section5,
         .section6,
         .section7,
         .section8,
         .section9,
         .section10 {
             background-color: white;
             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
             padding-left: 1em;
             padding-right: 1em;
             padding-top: 0.1em;
             padding-bottom: 0.1em;
             border-radius: 3px;
         }

         .mine {
             width: 50%;
             height: auto;
         }


         h1 {
             color: white;
         }

         .divider {
             height: 2px;
         }

         section {
             height: 400px;
             padding-top: 80px;
             padding-bottom: 50px;
             overflow: auto;
         }

         .bg-1 {
             background: url(http://www.wallpapersxl.com/wallpapers/1680x1050/mtb-downhill/693727/mtb-downhill-freeride-693727.jpg) no-repeat top center fixed; /*no-repeat center center fixed;*/
             color: #fff;
             border: 2px black solid;
             background-size: 1140px;
             /*top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/
         }


         h1 {
             text-align: center;
             padding-top: 50px;
         }
    </style>


</body>
