@{
    ViewBag.Title = "Festivals";
}
@{

    ViewBag.Notice = "Translation notice";
}

<body class="indexsadrzaj">

    <section class="bg-1 text-center">
        <h1 class="">FESTIVALS</h1>
    </section>

    <div class="sadrzaj">
        <h3>@ViewBag.Notice</h3>
        <hr />
        <p align="justify">For now, this text area is in Bosnian. At the moment we are doing collecting and translating work. Please, be patient, and keep looking for the changes on the website.</p>
    </div>

    <style>
        .indexsadrzaj {
            background-image: url('../../Content/Walls/weather.png');
        }
    
         h1 {
             color: white;
         }

         .divider {
             height: 2px;
         }

         section {
             height: 400px;
             padding-top: 80px;
             padding-bottom: 50px;
             overflow: auto;
         }

         .bg-1 {
             background: url(https://mojo-cms.s3.amazonaws.com/production/leeds/cms/processed/45e0496ecf801c8972cf34ff660ea9e6.jpg) no-repeat top center fixed; /*no-repeat center center fixed;*/
             color: #fff;
             
             background-size: auto;
             /*top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/
         }


         h1 {
             text-align: center;
             padding-top: 50px;
         }
    </style>

</body>
