@{
    ViewBag.Title = "Gorazde Tourism";
}
@{
    ViewBag.Hi = "Hi";
    ViewBag.Welcome = "Welcome to industrial, cultural, administrative, university and sports center of Upper Drina's region of Bosnia - podrinje canton. We hope to see you soon.";
}

<body class="indexsadrzaj">

    <div class="welcome">
        <h1 align="center">WELCOME</h1>
    </div>
    <div class="section1">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <hr />
            <p align="center">
                Enjoy your stay in beatiful city of Goražde. DrinaGo team is wishing you a pleasant stay.
            </p>
            <form style="display: inline" action="http://visitgorazde.azurewebsites.net/Home/About" method="get">
                <button class="btn btn-hero btn-group-xs" role="button">Learn more</button>
            </form>
        </div>
    </div>

    <div class="discover">
        <h1 align="center">EXPLORE</h1>
    </div>
    <div class="section1">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <hr />
            <p align="center">
                Whether you hike, ride, drive, Goražde can offer you some truly breathtaking scenes.
            </p>
            <form style="display: inline" action="http://visitgorazde.azurewebsites.net/Home/About" method="get">
                <button class="btn btn-hero btn-group-xs" role="button">Learn more</button>
            </form>
        </div>
    </div>

    <div class="explore">
        <h1 align="center">DISCOVER</h1>
    </div>
    <div class="section1">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <hr />
            <p align="center">
                There is many places to eat in Goražde, maybe you prefer to go orders, maybe you prefer to stay and enjoy the view of some great restaurants? You are in the right place.
            </p>
            <form style="display: inline" action="http://visitgorazde.azurewebsites.net/Home/About" method="get">
                <button class="btn btn-hero btn-group-xs" role="button">Learn more</button>
            </form>
        </div>
    </div>

</body>

<!-- ========== END OF ROW ONE ========== -->
<!-- Background color of Index only! -->

<style>

    .welcome {
        /* The image used */
        background-image: url("https://scontent-waw1-1.xx.fbcdn.net/t31.0-8/13346306_1092559084149062_635575833812044121_o.jpg");
        /* Set a specific height */
        height: 350px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
    }

    .explore {
        /* The image used */
        background-image: url("http://amxxcs.ru/download/1920x1080-nature-wallpaper-ADYJNuV");
        /* Set a specific height */
        height: 350px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
    }

    .discover {
        /* The image used */
        background-image: url("http://wallpapercave.com/wp/ixmt8JQ.jpg");
        /* Set a specific height */
        height: 350px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
    }

    h1 {
        color: white;
        padding-top: 120px;
    }

    .section1, section2 {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-radius: 3px;
    }

    body.indexsadrzaj {
        background-image: url(https://github.com/Nurdoidz/Typogra-Voat/blob/master/Img/Bg-1.png?raw=true);
    }

</style>

@Scripts.Render("~/bundles/jquery")

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/Header.js"></script>
<script src="~/Scripts/Parallax.js"></script>