@{
    ViewBag.Title = "Archeology";

}
@{
    ViewBag.Header = "Translation Notice";
    ViewBag.Vision = "Archeology topic";
}
<body class="aboutsadrzaj">
    <section class="bg-1 text-center">
        <h1 class="">ARCHEOLOGY</h1>
    </section>

    <!-- ========== Editor's Notice ========== -->
    <div class="section1">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h3>@ViewBag.Header</h3>
            <hr />
            <p align="justify">
                Translation of Bosnian language to English is in progress. Keep checking the website for changes.
            </p>
        </div>
    </div>
    <br>

</body>
<style>
    .section1
     {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-radius: 3px;
    }

    .aboutsadrzaj {
        background-image: url('../../Content/Walls/weather.png');
    }

    .linkgithub {
        color: black;
    }

    body.indexsadrzaj {
        background-image: url(https://github.com/Nurdoidz/Typogra-Voat/blob/master/Img/Bg-1.png?raw=true);
    }

    h1 {
        color: white;
    }

    .divider {
        height: 2px;
    }

    section {
        height: 400px;
        padding-top: 80px;
        padding-bottom: 50px;
        overflow: auto;
    }

    .bg-1 {
        background: url(http://www.dayofarchaeology.com/wp-content/uploads/2013/07/100_2383.jpg) no-repeat top center fixed; /*no-repeat center center fixed;*/
        color: #fff;
        background-size: auto;
    }
    h1 {
        text-align: center;
        padding-top: 50px;
    }
</style>
