@{
    ViewBag.Title = "Geography";
}
@{
    ViewBag.Header = "Translation Notice";
}

<body class="indexsadrzaj">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h2 class="white">Geography</h2>
                        <h3 class="white">of Gorazde</h3>
                        <!--<h4 class="white">For more infomation, click learn more</h4>-->
                    </hgroup>
                    <form style="display: inline" action="http://drinago.eu-central-1.elasticbeanstalk.com/home/notice" method="get">
                        <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Translation Notice -->

    <div class="SadrzajIndex">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 align="center">@ViewBag.Header</h4>
                    <hr />
                    <p align="justify">
                        We are in a process of translating documents from Bosnian language to English.
                        Please, wait until further notice about updating the page to add more content.
                        Please, do keep in mind that the website is in early alpha stage and that it will require some time to be fully updated and to work properly.
                        <br />
                        <br />
                        There is very little information about our town so we are trying to collect as much of data as we could so that you, the users, can enjoy reading about Gorazde.
                        <br />
                        <hr>
                        <!--What is <b>review section?</b> Basically you can view reviews for places (hotels, motels, restaurants, coffee bars)
                        from other people. That way you can easily read the reviews and check if certain place is for you.
                        Feel free to explore the website, if  you have any questions, be sure to check the Info section, or About section.
                        Drinago wishes you a pleasant stay.-->
                    </p>
                    <p><a class="btn btn-default" href="http://drinago.eu-central-1.elasticbeanstalk.com/home/notice">Learn more</a></p>
                </div>
                <!--
                                <div class="col-md-4">
                                    <h4 align="center">@ViewBag.Position</h4>
                                    <hr />
                                    <p align="justify">
                                        <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                                        <br />
                                        Town of Gorazde and head of Municipality of Gorazde is located in the central part of the Upper Drina.
                                        Gorazde has a very good geographical and strategic position. City is located on the pediment eastern slopes
                                        of Jahorina at an altitude of 345 meters. It is interesting to note that the average altitude is 340 meters
                                        of the European continent.
                                        The city is located in the valley widening whose origin caused denudation - erosion effect of the Drina river,and its tributaries.
                                        Valley framed by the expansion of the:

                                            South-East (<b>Biserna</b> - 701 meters),
                                            South (<b>Samarima</b> - 696 meters),
                                            Southwest (<b>Mišijak</b> - 618 meters),
                                            West (<b>Gubavica</b> - 410 meters),
                                            North (<b>Površnica</b> - 420 meters).

                                        Highest peak in the vicinity of the town is (<b>Sjenokos</b> - 960 meters).
                                    </p>
                                    <p><a class="btn btn-default" href="http://drinago.eu-central-1.elasticbeanstalk.com/home/notice">Learn more</a></p>
                                </div>
                                <div class="col-md-4">
                                    <h4 align="center">@ViewBag.Area</h4>
                                    <hr />
                                    <p align="justify">
                                        <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                                        <br />
                                        For the creation and development of the city were significant not only water, fertile soil, suitable
                                        for establishing, but the roads which were impotant that determined Goražde as a natural crossroad.
                                        Goražde as a settlement was formed at the site of the gravitational center of the wider area of agriculture - livestock region.
                                        Until 1952, when municipalitz of Goražde is formed, before that it was part of the district ?ajni?e, given that it was more important
                                        economic center (mining town) at the thime of the Ottoman and Austro-Hungarian period, total of 453 years.
                                        The significant development of Goražde experiences proclamation (establishment) of the Municipality in early 50s of the last century.
                                        Settlement of Goražde in history was the main intersection of roads leading to Dalmatian coast, Serbia, Montenegro and Sarajevo.
                                        Greater significance Goražde recieved during the road reconstruction (Fo?a - Goražde) in 1887.
                                    </p>
                                    <p><a class="btn btn-default" href="http://drinago.eu-central-1.elasticbeanstalk.com/home/notice">Learn more</a></p>
                                </div>-->
            </div>
        </div>
    </div>
</body>
<!-- ========== END OF ROW ONE ========== -->