@{
    ViewBag.Title = "Useful Information";

}
@{
    ViewBag.WorkingHours = "";
    ViewBag.GeneralNumbers = "";
    ViewBag.Holidays = "";
}

<!-- Main information -->

<body class="aboutsadrzaj">
    <section class="bg-4 text-center">
        <h1 class="">Useful Information</h1>
    </section>
    <!-- Useful Information -->

    <div class="section1">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4 align="center">@ViewBag.Header</h4>
            <hr />
            <p align="center">
                Please read thoroughly information written below.
                It can help you to avoid problems with your documentations.
                <br />
                You are required to read Embassy Messages depending where are you coming from.
                <br />
                If you are an American citizen please take your time to read more information on clicking the button below.
            </p>
            <form style="display: inline" action="https://travel.state.gov/content/passports/en/country/bosnia-herzegovina.html" method="get">
                <button class="btn btn-hero btn-lg" role="button">Learn more</button>
            </form>
        </div>
    </div>
    <br>

    <!-- Foreign info -->

    <div class="section2">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Important information for tourists</h4>
            <hr />
            <p align="justify">
                You can stay in Bosnia for total of 90 days in period of 6 months. You can split those 90 days in period of 6 months if you prefer.
            </p>
        </div>
    </div>
    <br />

    <!-- Population of Gorazde -->

    <div class="section3">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Population of Gorazde</h4>
            <hr />
            <p align="justify">
                # City of Gorazde 16,273 (1991), 12,512 (2013)<br />

                # Municipality of Gorazde 37,573 (1991), 22,000 (2013)
            </p>
        </div>
    </div>
    <br />

    <!-- Area of Gorazde -->

    <div class="section4">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Area of Gorazde</h4>
            <hr />
            <p align="justify">
                # City of Gorazde - 2.335918mi2 / 6.05km2 <br />
                # Municipality of Gorazde - 96.062217mi2 / 248, 8km2
            </p>
        </div>
    </div>
    <br />

    <!-- Timezone -->

    <div class="section5">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Timezone</h4>
            <hr />
            <p align="justify">
                The time zone in Gorazde is Central European Time (CET+1)
            </p>
        </div>
    </div>

    <br />

    <!-- Climate -->

    <div class="section6">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Climate</h4>
            <hr />
            <p align="justify">
                The climate in Gorazde by Wolfgang Koeppen is moderately humid, without dry seasons with warm summers.
                The average temperature for January is 29.84F / -1.2°C and in July 66.2F / 19,0°C.
                Yearly air temperature in Gorazde is 49.28F / 9,6°C.
                The average amout of precipitation is around 31.50 inches / 800mm.
                Also the average temperature fluctation is +-68F / +-20°C.
                The average temperature of river Drina is 46.4F / 8°C.
            </p>
        </div>
    </div>

    <br />

    <!-- Ethnicity and religion -->

    <div class="section7">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Ethnicity and religion</h4>
            <hr />
            <p align="justify">
                Gorazde is multiethnical and multireligious city in which are most dominant group Bosnjaci (Muslims - Bosniaks), Serbs (Orthodox) and Croats (Catholics) and others.
                Before the second world war the jews lived in Gorazde.
                One of the most famous jew was Isak Samokovlija, the first doctor in the city who was educated in Vienna.
            </p>
        </div>
    </div>
    <br />

    <!-- Electricity -->

    <div class="section8">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Electricity</h4>
            <hr />
            <p align="justify">
                Electrical energy in Bosnia and Herzegovina has a standard voltage of 220v and frequency of 50Hz.
                Please check your devices and see if they comply with the electricity standard before using them.
            </p>
        </div>
    </div>
    <br />
    <!-- Water -->

    <div class="section9">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>Water</h4>
            <hr />
            <p align="justify">
                It is safe to drink tap water, but we strongly recommend you to buy bottled water.
                Drina as a river represents second category of watercours by the water quality, which means that is is possible to bathe in the river, catch fish and to have fun.
            </p>
        </div>
    </div>

    <br />

    <!-- code test -->




</body>

<style>
    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7,
    .section8,
    .section9,
    .section10 {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-radius: 3px;
    }

    .aboutsadrzaj {
        background-image: url('../../Content/Walls/weather.png');
    }

    .linkgithub {
        color: black;
    }

    h1 {
        color: white;
    }

    .divider {
        height: 2px;
    }

    section {
        height: 400px;
        padding-top: 80px;
        padding-bottom: 50px;
        overflow: auto;
    }

    .bg-4 {
        background: url(http://vercukormonitor.hu/wp-content/uploads/2016/05/stock-footage-document-signature-paper-signature-signing-a-printed-form-signature-on-agreement-to-sign-a.jpg) no-repeat center center fixed;
        color: #fff;
        background-size: auto;
    }

    .bg-2 {
        background: url(http://amxxcs.ru/download/1920x1080-nature-wallpaper-ADYJNuV) no-repeat top center fixed;
        color: #fff;
        background-size: auto;
    }

    .bg-3 {
        background: url(http://wallpapercave.com/wp/ixmt8JQ.jpg) no-repeat bottom center fixed;
        color: #fff;
        background-size: auto;
    }

    #footer {
        height: 60px;
        background-color: #585858;
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

        #footer a {
            color: #efefef;
        }

    h1 {
        text-align: center;
        padding-top: 50px;
    }

</style>



@Scripts.Render("~/bundles/jquery")

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/Header.js"></script>
<script src="~/Scripts/Parallax.js"></script>